.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 250px;
  border-radius: 8px;
  padding: 10px;
}
.title {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 5px;
  color: var(--color-copy);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}
