.modal {
  width: 100%;
  max-width: 450px;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.button {
  width: 100%;
}
