.button {
  position: relative;
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
  border-radius: 8px;
  color: var(--color-copy);
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  padding-right: 35px;
  transition: background-color 0.2s ease;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
.buttonText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button:hover:not([disabled]):not(:active) {
  background: var(--color-foreground);
}

.button:focus-visible {
  outline: 2px solid var(--color-outline);
}
.button[data-open] .icon {
  transform: rotate(180deg) translateY(-1px);
}
.icon {
  position: absolute;
  right: 15px;
  white-space: nowrap;
  min-width: max-content;
  font-size: 0.8rem;
}
.options {
  margin-top: 5px;
  background: var(--color-foreground);
  border-radius: 8px;
  box-shadow: 0 0 30px 0 rgba(103, 70, 54, 0.1);
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 50;
}
.option {
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
  padding-left: 35px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  color: var(--color-copy);
}
.option:hover {
  background-color: var(--color-primary);
}
.option[data-selected] {
  background-color: var(--color-primary);
}

.inputLabel {
  margin-left: 5px;
  margin-bottom: 2px;
  font-size: 0.8rem;
  display: block;
  color: var(--color-copy);
}
.option[data-selected] .buttonIcon {
  display: block !important;
}
.buttonIcon {
  display: none;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.textInputLabel {
  margin-left: 5px;
  margin-bottom: 4px;
  font-size: 0.8rem;
  display: block;
}
.textInputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
