.navigationItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navigationItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  color: var(--color-primary-content);
  background: var(--color-primary-light);
  white-space: nowrap;
  min-width: max-content;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
  border: 2px solid transparent;
}

.navigationItem:hover:not([disabled]):not(.navigationItemActive) {
  position: relative;
  transform: translateY(-3px);
}

.navigationItem:focus-visible {
  outline: 2px solid var(--color-outline);
}

.navigationItemActive {
  background-color: var(--color-primary-content);
  color: var(--color-primary);
}

.navigationWrapper {
  width: 100%;
  min-width: max-content;
}
.icon {
  margin-bottom: -3px;
}
