.tableActions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1rem;
  color: var(--color-copy-light);
  margin-bottom: -2px;
}
