.baseButton {
  position: relative;
  background-color: var(--color-primary);
  border-radius: 8px;
  color: var(--color-copy);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  transition: background-color 0.2s ease;
}

.baseButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.baseButton:hover:not([disabled]):not(:active) {
  background: var(--color-primary-dark);
}

.baseButton:focus-visible {
  outline: 2px solid var(--color-outline);
}

.loaderWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapperHidden {
  display: inline-block;
  visibility: hidden;
}
