.classItem {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  align-items: center;
  overflow: hidden;
  background: var(--color-foreground);
  border-radius: 16px;
  color: var(--color-copy);
}
.numberWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 8px;
  background: var(--color-primary);
  color: var(--color-primary-content);
}
.number {
  font-size: 1.4rem;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7px 10px;
}
.pairs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.pairAdd {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border: 2px dashed var(--color-copy-light);
  color: var(--color-copy-light);
  border-radius: 6px;
  width: 100%;
}
.addIcon {
  fill: var(--color-copy-light);
}
.classItemEmpty {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}
.classItemEmpty:hover {
  opacity: 1;
}
.timeWrapper {
  color: var(--color-copy-light);
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 2px;
}
