.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pageItem {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.pageItem:hover:not(.active) {
  background: var(--color-primary-dark);
}

.active {
  background-color: var(--color-primary);
  color: var(--color-copy);
  border-color: var(--color-primary);
}

.pageItem:focus-visible {
  outline: 2px solid var(--color-outline);
}
