.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.loader {
  width: 3rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.title {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
}
.notfoundWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
.notfoundImg {
  max-width: 400px;
}
.notfoundText {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  color: var(--color-copy);
}
.subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}
.evenWeek {
  background: var(--even-color);
}
.oddWeek {
  background: var(--odd-color);
}
.subtitleBlock {
  width: 100%;
  text-align: center;
  color: var(--color-foreground);
  border-radius: 0 0 10px 10px;
  padding: 5px;
  margin-bottom: 20px;
}

.titleBlock {
  margin-top: 25px;
  text-align: center;
  font-weight: 300;
  padding: 10px 15px;
  color: var(--color-copy-light);
  background-color: var(--color-foreground);
  border-radius: 10px 10px 0 0;
}
